.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 7vmin;
  pointer-events: none;
  padding: 10px;
}

.App-header {
  background-color: #4c3375;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: 12px;
  text-decoration: none;
}
.Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style:none;
  text-decoration: none;
  
} 
.MenuItem{
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
